<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>ZWDDocument_1.0.2</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>ZWDDocument_1.0.0</key>
		<dict>
			<key>ZWDPreferences</key>
			<data>
			32j30Rfqd7P+/JbGdIEjCjVr0W2aZe7ofwfkuYVoc2g=
			</data>
			<key>ZWDPublishTarget</key>
			<data>
			nUmLYcM8jCRVLJnj732R3BW9NE83uY5X0QDQKT3Sk1A=
			</data>
			<key>ZWDSprite</key>
			<data>
			DBffLtu51IVI5bZPnGSTy3mqnpjvTR7LpGyAqF6Ikw0=
			</data>
			<key>ZWDSpriteAlias</key>
			<data>
			Ei+/NMOgqQpcPdiWnzo0RpYHoRalc0gLevvMPAUPMPE=
			</data>
		</dict>
		<key>ZWDDocument_1.0.1</key>
		<dict>
			<key>ZWDPublishTarget</key>
			<data>
			nUmLYcM8jCRVLJnj732R3BW9NE83uY5X0QDQKT3Sk1A=
			</data>
			<key>ZWDSettings</key>
			<data>
			X0mcpmdZHjoj2g2JSk3W5l6FjFD9sT+e2j/1C0dJs8M=
			</data>
			<key>ZWDSprite</key>
			<data>
			yAscaEfXEo/tuRNPjtsnN8ereHxUYGQV7XhbxLjzk3w=
			</data>
			<key>ZWDSpriteAlias</key>
			<data>
			Ei+/NMOgqQpcPdiWnzo0RpYHoRalc0gLevvMPAUPMPE=
			</data>
		</dict>
		<key>ZWDDocument_1.0.2</key>
		<dict>
			<key>ZWDPublishTarget</key>
			<data>
			nYtPrClDjSFguq02QE+wWQ5Z5DuSMj1Bp1gG4Eio/zQ=
			</data>
			<key>ZWDSettings</key>
			<data>
			X0mcpmdZHjoj2g2JSk3W5l6FjFD9sT+e2j/1C0dJs8M=
			</data>
			<key>ZWDSprite</key>
			<data>
			yAscaEfXEo/tuRNPjtsnN8ereHxUYGQV7XhbxLjzk3w=
			</data>
			<key>ZWDSpriteAlias</key>
			<data>
			Ei+/NMOgqQpcPdiWnzo0RpYHoRalc0gLevvMPAUPMPE=
			</data>
		</dict>
	</dict>
</dict>
</plist>
